<!DOCTYPE html>
<html>
	<head>
		<title>Yize Code</title>
		<link rel="stylesheet" href="../static/style.css">	
	</head>
	<body>
		<header>
			<h1 class="pageTitle">
				Yize Code
			</h1>
		</header>
		
		<main>
			<div class="textBox">
				<p class="textTitle">
					Problem Statement Here
				</p>
				<textarea
					class="inputText"
					rows = "50"
					cols = "80"></textarea>
			</div>

			<div class="textBox">
				<p class="textTitle">
					Code Output
				</p>
				<textarea
					class="outputText"
					rows = "50"
					cols = "80"></textarea>
			</div>
		</main>
		
	</body>
</html>
