body{
	margin: 0px;
	padding: 0;
	font-family: Simplifica, Helvetica, Arial;
	background-color: #07456D;
}

header{
	padding: 0;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 30px;
}

main{

}

.pageTitle{
	padding: 0;
	margin-top: auto;
}

.textBox{
	display: inline-block;
}

textarea{
	background-color: black;
	color: white;
	resize: none;
	font-size: 14px;
	font-family: Courier;
	margin: 8px;
	border-color: white;
	border-width: 3px;
}

.textTitle{
	text-align: center;
	font-size: 25px;
	color: white;
	margin: auto;
}

@font-face {
	font-family: Simplifica;
	src: url('Simplifica.ttf') format('opentype');
}
